.App {
  text-align: center;
  font-family: 'BIZ UDMincho', serif;
}

/* Arranges content correctly on the page */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 10%;
  background-color: white;
  
  /* Keeps header at the top of the page */
  position: fixed;
  z-index: 100;
  top:0;
  width: 80%;
  color: black;
}  

/* Spacing around links */
.header-links {
  padding: 0% 10%;
}

/* Styling the links */
.header a {
  color: black;
  font-size: 20px;
  padding: 5%;
}

/* Styling the name */
.header h1 {
  font-size: 50px;
}

/* Underline when hovering over links */
.header a:hover {
  cursor: pointer;
    transform: translateY(-5px);
    text-decoration: underline;
}

/* Paragraphs include welcome page info, app descriptions (projects), 'Frontend Developer' in header */
p {
  font-size: 20px;
  color: black;
}

/* h2 includes the top of resume */
h2 {
  font-size: 60px;
  color:rgb(41, 39, 39);
  padding: 1%;
}

/* landing page photo styling */
img {
  border-radius: 10px;
  width: 70%;
}

/* All links */
a {
  text-decoration: none;
  font-size: 40px;
  color:black;
}

/* Project links are buttons */
button {
  font-size: 40px;
  color:white;  
}

/* Everything on the project page */
.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 1%;
  border-radius: 10px;
  margin: 2%;
}

/* App descriptions, not including tech stack */
.project-container p {
  color:rgb(41, 39, 39);
}

/* App names */
.project-container h2 {
  padding: 1% 2% 0% 2%;

background: rgb(236, 193, 223);
}

/* Technologies used */
.tech-stack {
  font-size: 20px;
  padding: 1%;
  color: rgb(109, 102, 102);
}

.tech-stack p {
  color: white;
  font-size: 20px;
}

.recipes-app {
  background-image: url('https://64.media.tumblr.com/8899da7898ba952c14af77e2d7e5b24a/bbb4a2cfa7d72978-e9/s2048x3072_c5500,0,94400,100000/51630017779e15d643ec9745e6b166b419adc652.gif');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10%;
  box-shadow: 10px;
  background-position-y: 50%;
  margin: 1% 4%;
  border-radius: 10px;
  border:none;
  width: 60%;
}

.recipes-app:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
      -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.nasa-app {
  background-image: url('https://64.media.tumblr.com/8899da7898ba952c14af77e2d7e5b24a/bbb4a2cfa7d72978-e9/s2048x3072_c5500,0,94400,100000/51630017779e15d643ec9745e6b166b419adc652.gif');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10%;
  box-shadow: 10px;
  background-position-y: 50%;
  margin: 1% 4%;
  border-radius: 10px;
  border:none;
  width: 60%;

}

.nasa-app:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.fitness-app {
  background-image: url('https://64.media.tumblr.com/8899da7898ba952c14af77e2d7e5b24a/bbb4a2cfa7d72978-e9/s2048x3072_c5500,0,94400,100000/51630017779e15d643ec9745e6b166b419adc652.gif');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10%;
  box-shadow: 10px;
  background-position-y: 50%;
  margin: 1% 4%;
  border-radius: 10px;
  border:none;
  width: 60%;

}

.fitness-app:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.site {
  font-size: 30px;
}

.resume-container {
  height: 100%;
  background-image: url('https://64.media.tumblr.com/8899da7898ba952c14af77e2d7e5b24a/bbb4a2cfa7d72978-e9/s2048x3072_c5500,0,94400,100000/51630017779e15d643ec9745e6b166b419adc652.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 80%;
  padding: 3%;
  
}
.resume-header {
  padding: 5% 2% 0% 2%;
  margin: 2%;
  background: rgb(236, 193, 223);

  
}

iframe {
  width: 800px;
  height: 1200px;
  overflow: hidden;
  resize: both;
  position: relative;
  z-index: 2;
  border:none;
  padding: 1% 1%;
}

.contact {
  padding: 10% 10%;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 15%;

  margin: 0% 30%;
  border-radius: 10px;
  border:none;
}

.contact p {
  color: black;
}

.contact a {
  color: black;
}

.contact a:hover {
  cursor: pointer;
    transform: translateY(-5px);
    text-decoration: underline;
}

.landing-container {
  padding: 7% 5%;
  font-size: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  background-image: url('https://64.media.tumblr.com/8899da7898ba952c14af77e2d7e5b24a/bbb4a2cfa7d72978-e9/s2048x3072_c5500,0,94400,100000/51630017779e15d643ec9745e6b166b419adc652.gif');
  background-repeat: no-repeat;
  background-size:cover;
  background-position-y: 10%;
  background-position-x: 90%

}

.landing-container img {
  border-radius: 50%;
  width: 30%;
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
      -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  
}

.right-side {
  width:50%;
  padding: 5%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  }


.intro {
  padding: 5%;
}

.skills {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
/*THIS IS A TEST*/
.landing-links a {
  color:black;
  padding: 3% 10%;
  margin: 3% 25%;
  display:flex;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: aliceblue;
  width: 25%;
  }
  .landing-links a:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
      -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  }

/* START OF MEDIA QUERIES*/

  @media only screen and (max-width: 600px) {

    .header {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 4% 4%;
      width:95%;
    }

    .header-links {
      font-size: 15px;
      display: flex;
      justify-content: space-between;
    }

    .header a {
      color: white;
      background-color: rgb(219, 197, 240);
      border-radius: 10px;
      padding: 1% 5%;
    }

    .header h1 {
      font-size: 20px;
      padding: 0% 3%;
    }

    .header p {
      font-size: 15px;
      padding: 0% 2%;
    }
    
    .landing-container {
      padding: 40% 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;

  }

    .landing-container img {
      width: 200px;
      height: 200px;
    }

    .landing-links a{
      padding: 5% 40%;
      margin: 4% 20% 0% 0%; 
    }

     h2{
      padding: 15% 10% 1% 10%;
      margin: 30% 3% 1% 3%;

    }

    iframe {
      width: 355px;
      height: 500px;
      padding: 30% 1%;
    }

    .contact {
      display: flex;
      flex-flow: column wrap;
      padding: 30% 15%;
    }
   
  }

  /*END OF MEDIA QUERIES*/

