.App {
  text-align: center;
  font-family: 'BIZ UDMincho', serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 3%;
  background-color: white;
  
  position: fixed;
  z-index: 100;
  top:0;
  width: 95%;
  color: black;
}  

.header a {
  color: black;
  font-size: 20px;
}

.header h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
  color: black;
}

h2 {
  font-size: 60px;
  color:rgb(41, 39, 39);
  padding: 1%;
}

img {
  border-radius: 10px;
  width: 70%;
}

a {
  text-decoration: none;
  font-size: 40px;
  color:black;
}

button {
  font-size: 40px;
  color:white;  
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
  border-radius: 10px;
  margin: 3%;
}

.projects p {
  color:rgb(41, 39, 39);
}

.tech-stack {
  font-size: 20px;
  padding: 1%;
  color: rgb(109, 102, 102);
}

.tech-stack p {
  color: white;
  font-size: 20px;
}

.recipes-app {
  background-image: url('https://64.media.tumblr.com/8899da7898ba952c14af77e2d7e5b24a/bbb4a2cfa7d72978-e9/s2048x3072_c5500,0,94400,100000/51630017779e15d643ec9745e6b166b419adc652.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
  padding: 10%;
  box-shadow: 10px;
  background-position-y: 50%;
  margin: 1% 4%;
  border-radius: 10px;
  border:none;
  width: 60%;
}

.recipes-app:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
      -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.nasa-app {
  background-image: url('https://64.media.tumblr.com/8899da7898ba952c14af77e2d7e5b24a/bbb4a2cfa7d72978-e9/s2048x3072_c5500,0,94400,100000/51630017779e15d643ec9745e6b166b419adc652.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 80%;
  padding: 10%;
  box-shadow: 10px;
  background-position-y: 50%;
  margin: 1% 4%;
  border-radius: 10px;
  border:none;
  width: 60%;

}

.nasa-app:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.fitness-app {
  background-image: url('https://64.media.tumblr.com/8899da7898ba952c14af77e2d7e5b24a/bbb4a2cfa7d72978-e9/s2048x3072_c5500,0,94400,100000/51630017779e15d643ec9745e6b166b419adc652.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 80%;
  padding: 10%;
  box-shadow: 10px;
  background-position-y: 50%;
  margin: 1% 4%;
  border-radius: 10px;
  border:none;
  width: 60%;

}

.fitness-app:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.site {
  font-size: 30px;
}

.resume-container {
  height: 100%;
  background-image: url('https://64.media.tumblr.com/8899da7898ba952c14af77e2d7e5b24a/bbb4a2cfa7d72978-e9/s2048x3072_c5500,0,94400,100000/51630017779e15d643ec9745e6b166b419adc652.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 80%;
  padding: 3%;
  
}

iframe {
  width: 800px;
  height: 1000px;
  overflow-y: auto;
  overflow-x: auto;
  resize: both;
  position: relative;
  z-index: 2;
  border:none;
  padding: 5%;
}

.contact {
  padding: 3%;
  display: flex;
  flex-direction: column;
  
}

.contact p {
  color: black;
}

.contact a {
  color: black;
}

.landing-container {
  padding: 7% 5%;
  font-size: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  background-image: url('https://64.media.tumblr.com/8899da7898ba952c14af77e2d7e5b24a/bbb4a2cfa7d72978-e9/s2048x3072_c5500,0,94400,100000/51630017779e15d643ec9745e6b166b419adc652.gif');
  background-repeat: no-repeat;
  background-size:cover;
  background-position-y: 10%;
  background-position-x: 90%

}

.landing-container img {
  border-radius: 50%;
  width: 30%;
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
      -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  
}

.right-side {
  width:50%;
  padding: 5%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  }


.intro {
  padding: 5%;
}

.skills {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
/*THIS IS A TEST*/
.landing-links a {
  color:black;
  padding: 3%;
  margin: 3% 1%;
  display:flex;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: rgb(226, 221, 221);
  }
  .landing-links a:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
      -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  }

  @media only screen and (max-width: 600px) {

    .header-links {
      display: flex;
      flex-direction: column;
      font-size: 15px;
    }

    .header h1 {
      font-size: 20px;
    }

    .header p {
      font-size: 15px;
    }
    .landing-container {
      padding: 45% 10%;
      display: flex;
      flex-direction: column;
    }
  }

